#about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-photo {
    border: 4px solid black;
    border-radius: 50%;
}

#about-info-container {
  color: black;
  text-align: center;
  /* text-shadow: 0 var(--textShadowDisplacement) var(--textShadowDisplacement) var(--evilDarkGray); */
  display: block;
  margin: auto;
}

#personalInfo {
    padding: 15px 0;
    /*border: 1px solid white;*/
    color: white;
}

#personalInfo a {
    color: white;
}
#personalInfo a:hover {
    color: var(--evilDarkGray);
}