#aboutPhoto {
    border: 4px solid white;
    border-radius: 10px;
}
#aboutPhoto:hover {
    opacity: 1;
}

#personalInfo {
    padding: 15px 0;
    /*border: 1px solid white;*/
    color: white;
}

#personalInfo a {
    color: white;
}
#personalInfo a:hover {
    color: var(--evilDarkGray);
}